<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wmbusmeters HA addon configuration</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" media="all">
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body>
<style>
input:required:invalid{
  border-color: red;
}
</style>
<div class="container">
    <h1 class="mb-3">wmbusmeters HA addon configuration</h1>
    <form id="json-form" method="POST">
        <label class="form-label" for="file-path">File Path:</label>
        <div class="col-md-4">
            <input class="form-control" type="text" id="file-path" name="file_path" required>
        </div>
        <label class="mqtt-status" for="file-path">Enable mqtt discovery:</label>
        <div class="col-md-4">
            <input class="form-control" type="text" id="mqtt-status" name="mqtt-status" value="false" required>
        </div>


        <br>
        <div id="json-editor">
            <h4 class="mb-3">wmbusmeters configuration</h4>
            <div id="conf"></div>
            <button id="add-pair" class="btn btn-outline-success" type="button">Add New parameter</button>
            <hr class="my-4">
            <h4 class="mb-3">Meters</h4>
            <hr class="my-4">
            <div id="sections"></div>
            <button id="add-section" class="btn btn-outline-primary" type="button">Add New meter</button>
            <hr class="my-4">
            <div class="form-check">
                <label class="form-label" for="mqtt-enabled">Custom MQTT configuration</label>
                <input class="form-check-input" type="checkbox" id="mqtt-enabled" name="mqtt_enabled">
            </div>
            <div id="mqtt"></div>
        </div>
        <br>
        <hr class="my-4">
        <button id="save-json" name="save_json" class="btn btn-outline-success" type="submit">Save Changes</button>
        <hr class="my-4">

    </form>
</div>
</body>
</html>
